@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');

:root {
    --bodycolor: #FAF8ED;
    --textcolor: #484848;
    --btngcolor: #F66F4D;
    --sectext: #000000;
    --white: white;
    --contect: #FFD282;
    --h1font: 8rem;
    --h2font: 6rem;
    --pfont: 2rem;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 60.5%;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    background: var(--bodycolor);
    scroll-behavior: smooth;
    align-items: center;




}

body h1 {
    font-family: "sen", sans-serif;
}



button {
    padding: 1rem 1.5rem;
    border-radius: 1.7rem;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    transition: 0.2s ease-in-out;
    opacity: 0.4;
}

header {
    top: 0;
    left: 0%;
    width: 100%;
    box-shadow: 1px 0px 2px rgba(114, 114, 114, 0.411);
    position: sticky;
    z-index: 1;
    background-color: var(--navcolor);
    padding: 1rem;
    background: var(--bodycolor);


}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-list ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: var(--textcolor);
    font-size: 2rem;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    font-size: 2rem;
}

.nav-logo img {
    padding-left: 3rem;
}

.nav-logo img {
    width: 100%;
}


nav a {
    text-decoration: none;
    color: var(--textcolor);
}

.nav-btn {
    color: var(--btngcolor);
    border: 1px solid var(--btngcolor);
    background-color: var(--bodycolor);
    font-size: 2rem;
    border: 1px solid var(--btngcolor);
    display: inline-block;
    padding: 8px 10px;
    border-radius: 5rem;
    transition: 0.2s ease-in-out;

}

.nav-btn:hover {
    transition: 0.2s ease-in-out;
    opacity: 0.4;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}


#menu-icon {
    font-size: 20px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* main */

/* hero */
.hero-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 4rem;

}

.hero-img img {
    width: 100%;

}

.hero-text h1 {
    font-size: var(--h1font);
    color: var(--textcolor);

}

.hero-text p {
    font-size: var(--pfont);
    color: var(--textcolor);

}

.explore-hero {
    display: flex;
    gap: 2rem;
    align-items: center;



}

.explore-hero a {
    font-size: 2rem;
    text-decoration: none;
    padding: 1.2rem 1.5rem;
    color: var(--btngcolor);
    display: flex;
    gap: 1rem;
}


.explore-hero i {
    color: var(--btngcolor);
    font-size: 3rem;
}

.btn-hero {
    color: var(--white);
    background: var(--btngcolor);
}

/*  highlight */
.highlight-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.highlight-img img {
    width: 150px;
}


.highlight-content {
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 3px 5px 5px rgb(149, 150, 148); */
    transition: 0.2s ease-in-out;
}

.highlight-content:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(79, 79, 79);
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

.highlight-content h3 {
    padding: 2rem;
    font-weight: 500;

}

.highlight-content a {
    text-decoration: none;
    color: var(--sectext);
    font-size: 2rem;

}

/* about */

.about-text h1 {
    font-size: var(--h1font);
    color: var(--textcolor);
    line-height: 8rem;

}

.about-img img {
    width: 100%;
}

.about-text p {
    font-size: var(--pfont);
    color: var(--textcolor);
    width: 100%;
    max-width: 500px;

}


.about-hero {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;

}

.rating-box {
    background-color: var(--white);
    padding: 1.5rem;
}

.rating-box h3 {
    font-size: 3rem;
    color: var(--btngcolor);

}

.rating-box p {
    font-size: 1.5rem;
    color: var(--textcolor);

}

.rating-box {
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 3px 5px 5px rgb(149, 150, 148); */
    transition: 0.2s ease-in-out;
}

.rating-box:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(79, 79, 79);
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

/* destination */

.container {
    padding: 4rem;
}

.center-text {
    padding-bottom: 4rem;
    width: 650px;
}

.center-text h1 {
    font-size: 4rem;

}

.center-text p {
    font-size: 2.5rem;
    max-width: 500px;

    width: 100%;


}

.box img {
    width: 300px;
}

.center-text h2 {
    text-align: center;
    font-size: 6rem;
    color: var(--textcolor);
}

.destination-content img {
    width: 300px;
}

.destination-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 3.5rem;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

}

.box {
    /* padding: 20px; */
    border: 1px solid white;
    border-radius: 10px;
    transition: all ease .50s;

}

.box {
    border-radius: 10px;
    /* box-shadow: 3px 5px 5px rgb(149, 150, 148); */
    transition: 0.2s ease-in-out;
}

.box:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(79, 79, 79);
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

.box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 1rem;
}

.box P {
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    padding-left: 1rem;
}

.box-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 1.5rem;
}

.box-text h5 {
    font-size: 10px;
    font-weight: 500;
    padding-left: 1rem;
}

.bxx-btn {
    display: inline-block;
    /* background-color: rgba(48, 141, 14, 0.966); */
    font-size: 13px;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all ease .50s;
}


.book-btn {
    background-color: var(--textcolor);
    color: var(--white);
    border-radius: 2rem;
}

.book-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);



}

.book-btn a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);




}

.box {
    border-radius: 10px;
    /* box-shadow: 3px 5px 5px rgb(149, 150, 148); */
    /* transition: 0.2s ease-in-out; */
}

.box:hover {
    /* transform: scale(1.04); */
    box-shadow: 3px 5px 5px rgb(79, 79, 79);
    /* transition: 0.2s ease-in-out; */
    cursor: pointer;

}

                           /* testinomial */
.testinomial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 4rem;


}

.test-img img {
    width: 100%;
}

.test-text h2 {
    font-size: 8rem;
    color: var(--textcolor);
    line-height: 9rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.test-box {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.4rem;

    background: var(--white);
}

.test-box p {
    font-size: 1.5rem;
    color: var(--textcolor);
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;

}

.test-text h4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--seccolor);

}

.test-star {
    font-size: 2rem;
}

.test-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.test-icon i {
    color: var(--sectext);
    font-size: 3.5rem;
}

                        /* cta */
.cta {
    background: var(--contect);
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.contect-text h1 {
    font-size: 4rem;
    margin-bottom: 12px;
    font-weight: 600;
}

.contect-text p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 500;
}

form {
    display: flex;
    max-width: 600px;
    width: 100%;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 1rem 0;
    background: var(--white);

}

form a {
    text-decoration: none;
    color: var(--textcolor);

}

.input-box {
    display: flex;
    align-items: center;
    gap: 5px;

}

.input-box i {
    color: var(--textcolor);
    font-size: 17px;

}

.input-box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    background: transparent;

}

.book-btn {
    font-size: 0.9rem;
    padding: 10px 14px;
    background: var(--textcolor);
    color: var(--white);
    border-radius: 2rem;
}


                     /* footer */


.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 25px;


}

.footer-container p {
    font-size: 1.2rem;
    padding: 0.5rem;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-list h4 {
    font-size: 1.8rem;
    padding: 1rem;
}

.footer-list ul li {
    font-size: 1.8rem;
    list-style: none;
    color: var(--textcolor);
    padding-left: 1rem;
}

.footer-list a {
    text-decoration: none;
}

.social-link i {
    text-decoration: none;
    font-size: 15px;
    color: var(--btngcolor);
    line-height: 30px;
    display: inline-block;
    padding: 0.5rem;
}

.social-link i:hover {
    color: var(--textcolor);
}

                         /* last */

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.copyright img {
    width: 150px;
}

.copyright h5 {
    font-size: 1.5rem;
}
                      /* media */

@media(max-width:1032px) {
    html {
        font-size: 50%;
    }

    :root {
        --h1font: 8rem;
        --h2font: 6rem;
        --pfont: 1.8rem;
    }

}

@media(max-width:917px) {
    html {
        font-size: 47%;
    }

    :root {
        --h1font: 8rem;
        --h2font: 6rem;
        --pfont: 1.8rem;
    }

}

@media(max-width:857px) {
    html {
        font-size: 49%;
    }

    :root {
        --h1font: 6.5rem;
        --h2font: 5rem;
        --pfont: 1.5rem;
    }

}

@media(max-width:763px) {
    html {
        font-size: 40%;
    }


}

@media(max-width:684px) {
    html {
        font-size: 40%;
    }

    /* :root{
        --h1font:6rem;
        --h2font:4rem;
        --pfont:1.2rem;
    } */
    form {
        display: grid;
        padding: 15px;
        border-radius: 20px;
    }

    .cta {
        background: var(--contect);
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
    }

    #menu-icon {
        display: block;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 400px;
        left: -100%;
        display: flex;
        flex-direction: column;
        background: var(--bodycolor);
        border-radius: 0px 0px 20px 20px;
        padding: 10px 0;
        box-sizing: 0px 20px 20px rgb(15 54 55 /20%);
        clip-path: circle(144% at 0% 0%);
        transition: all .50s ease-in-out;
    }

    .nav-list a {
        display: block;
        padding: 0px;
        font-size: 22px;
        font-weight: 600;
    }

    .nav-list ul {
        display: flex;
        flex-direction: column;

    }

    .nav-list.open {
        left: 0;

    }

    .center-text {
        width: 270px;
    }

    .copyright img {
        width: 150px;
    }

    .copyright h5 {
        font-size: 1rem;
    }
}

@media(max-width:543px) {
    .hero-img {
        margin: 0 auto;
    }

    .highlight-img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        margin: 0 auto;
    }

    .highlight-img img {
        width: 100px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        align-items: center;
        gap: 25px;


    }





}

@media(max-width:450px) {
    .hero-img {
        margin: 0 auto;
    }

    .highlight-img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        margin: 0 auto;
    }

    .highlight-img img {
        width: 100px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 25px;


    }





}

@media(max-width:617px) {
    html {
        font-size: 35%;
    }
}

@media(max-width:600px) {
    .hero-container {
        grid-template-columns: 1fr;
    }

    .testinomial {
        grid-template-columns: 1fr;
    }

    .hero-text {
        order: 2;
    }

}

@media(max-width:331px) {
    html {
        font-size: 25%;
    }

    .destination-content {
        width: 150px;
    }

    .destination-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        align-items: center;
        /* gap: 2rem; */
        /* margin-top: 3.5rem; */
        margin: 0 auto;
    }

    .center-text {
        font-size: 1rem;
        max-width: 200px;

        width: 100%;


    }

    .box img {
        width: 150px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 25px;


    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }

    .copyright img {
        width: 70px;
    }

    .copyright h5 {
        font-size: 1rem;
    }
}